@media (max-width: 1313px) {
  #third-section #all-skills {
    padding: 0;
  }

  #third-section #all-skills #first-line {
    flex-direction: column;
    min-height: 18vh;
    /* background-color: red; */
    gap: 2rem;
    justify-content: center;
  }

  #third-section #all-skills #second-line {
    flex-direction: column;
    gap: 2rem;
  }

  #third-section #all-skills #second-line #second-line-right {
    width: 100%;
    justify-content: center;
    width: 100%;
    padding: 0 5rem;
    gap: 1rem;
  }

  #third-section #all-skills #third-line {
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
  }

  #third-section #all-skills #third-line #third-line-right {
    width: 100%;
    justify-content: center;
    padding: 0 5rem;
    gap: 1rem;
  }
}

@media (max-width: 1045px) {
  #second-section #first-line p {
    width: 80%;
  }

  #second-section #second-line #imageandtext h4 {
    display: none;
  }

  #faq-section {
    flex-direction: column;
    padding: 5rem 0;
    min-height: 100vh;
  }

  #faq-section #faq-left {
    width: 100%;
    padding: 4rem;
  }

  #faq-section #faq-left h1 {
    width: 100%;
    text-align: center;
  }

  #faq-section #faq-right {
    width: 100%;

    min-height: 70vh;
    /* padding: 0 2rem; */
  }

  #main-footer #footer-top #tv-logo {
    opacity: 30%;
    bottom: 10%;
  }
}

@media (max-width: 894px) {
  #second-section #first-line p {
    width: 100%;
  }
}

@media (max-width: 693px) {
  html {
    font-size: 48%;
  }

  #second-section {
    padding: 4rem;
  }

  #second-section #second-line {
    min-height: auto;
  }

  #second-section #second-line #imageandtext {
    width: 60%;
  }

  #sidebar {
    width: 100%;
    height: 100vh;
  }

  #sidebar #ullist li a {
    font-size: 3.5rem;
    color: #fff;
  }

  #sidebar h1 {
    font-size: 40rem;
  }
}

@media (max-width: 536px) {
  html {
    font-size: 40%;
  }

  #first-section #linkdin {
    top: 16rem;
    font-size: 3rem;
  }

  #first-section #linkdin>i {
    font-size: 5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 32%;
  }
}